# Copie este arquivo para .env e preencha com seus dados
# cp .env.example .env

# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=taskflow
DB_USER=root
DB_PASSWORD="Jv15110615#"

# Segredo para gerar os tokens JWT (troque por algo aleatório e longo!)
JWT_SECRET=meu_segredo_super_secreto_troque_em_producao

# Porta do servidor back-end
PORT=3001
